<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Библиотека</title>
    <style>
        body{
         background-color: rgb(168, 185, 218);
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Список издательство -- книга</h1>
          <hr class="mt-0 mb-4">
         
          <ul class="list-group">
            {% for book in books %}
            {% ifchanged %}
            <li class="list-group-item disabled bg-warning text-dark">{{ book.publisher }} -- {{ book.title }}</li>
            {% endifchanged %}
            {% endfor %}  
        </ul>
        </div>
      </div>
    </div>
  </body>
</html>